version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: bohne-dispatcharr_server_1
      APP_PORT: 9191
      # Falls du API ohne Auth willst:
      # PROXY_AUTH_WHITELIST: /api/*
  
  server:
    image: ghcr.io/dispatcharr/dispatcharr:latest
    restart: on-failure
    init: true
    user: "1000:1000"

    volumes:
      - ${APP_DATA_DIR}/data:/data
      - ${UMBREL_ROOT}/home/Downloads:/downloads

    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info

    # ---- OPTIONALS ----

    # High priority:
    # cap_add:
    #   - SYS_NICE

    # Intel/AMD GPU:
    # devices:
    #   - /dev/dri:/dev/dri

    # NVIDIA GPU:
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]

